# Database connection string
POSTGRES_URL=postgresql://127.0.0.1:5432/your-database-name
# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Google Tag ID for Google Ads and Analytics (e.g. GT-XXXXXXX or AW-XXXXXXXXX)
NEXT_PUBLIC_GOOGLE_TAG_ID=YOUR_GOOGLE_TAG_ID_HERE
# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE
# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE