/* Custom text styles for Lexical editor */
.customTextState-color-customGrey1 {
  color: rgba(11, 12, 11, 0.5);
}

.customTextState-color-customGrey2 {
  color: rgba(11, 12, 11, 0.7);
}


/* Additional custom colors */
.customTextState-color-customRed {
  color: #ff0000;
}

.customTextState-color-text-red {
  color: #ff0000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

h8 {

}

/* Size styles */
.customTextState-size-small {
  font-size: 0.875rem;
}

.customTextState-size-normal {
  font-size: 1rem;
}

.customTextState-size-large {
  font-size: 1.5rem;
}

.customTextState-size-huge {
  font-size: 2rem;
}

.customTextState-size-heading1 {
  font-family: var(--font-oxanium), sans-serif;
  font-weight: 600;
  color: black;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 1%;
}

.customTextState-size-h9 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
